* {
	margin: 0;
	font-size: 100%;
	scroll-behavior: smooth;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#hero {
	display: flex;
	min-height: 100vh;
	background-size: cover;
	z-index: 100;
	background-color: #ffffff;
}

.box {
	display: flex;

	color: white;
	margin-left: 6cm;
	flex-direction: row;
	padding-top: 20%;
	transition: 1s;
	letter-spacing: 0cm;

	justify-content: space-between;
}

.title {
	margin-bottom: 10cm;
	font-size: x-large;
	letter-spacing: 2px;
	transition: 0.5s;
	color: #010440;

	/* color: #F2C230; */

	width: 15cm;
}

.title:hover {
	font-size: x-large;
	letter-spacing: 3px;
	transition: 1s;
}
.cta {
	width: 1cm;
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 0.1cm;
	margin-top: 2cm;
	margin-left: 0cm;
	padding: 4px;
	text-align: center;
	transition: 1s;
	background-color: #f2c230;
	font-size: medium;
}

#hero hr {
	margin-left: 1cm;
	margin-bottom: 6cm;
	background-color: #f2c230;
	width: 5px;
	border: none;
	transition: 1s;
}

h2 {
	color: #f2c230;
}
h1 {
	color: #010440;
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #b8b8b8;
	padding: 0.5cm;
	position: fixed;
	
	transition: 1s;
}

.header:hover {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
	padding: 0.5cm;
	position: fixed;

	transition: 1s;
}

.tercio h1 {
	color: #010440;
	transition: 1s;
}

.tercio h1:hover {
	color: #f2c230;
	transition: 1s;
}

.header a {
	top: 0;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
	color: #f2c230;
	background-color: rgb(233, 233, 233);
	padding: 0.6cm;
	transition: 1s;
	
}

.header a:hover {
	top: 0;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
	color: #f2c230;
	background-color: rgb(233, 233, 233);
	padding: 1cm;
	transition: 1s;
}

.tercio {
	display: flex;
}

.tercio p {
	font-weight: 100;
	font-size: small;
	margin-left: 0.2cm;
}

.servico2 {
	display: flex;

	flex-direction: column;
	align-items: center;
}

.service-item {
	padding: 1%;
	width: 50%;
	margin: 4px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	transition: 1s;
}

.service-item:hover{
	padding: 1%;
	width: 50%;
	margin: 4px;
	box-shadow: 10px 10px 2px 1px rgba(0, 0, 2, 0.2);
	border-radius: 10px;
	transition: 1s;
}

.service-item h2 {
	color: #010440;
	padding: 3px;
}

.service-item p {
	padding: 3px;
}
.servico {
	width: 90%;

	padding: 1cm;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
}

.trybe {
	text-decoration: none;
}

#tercio {
	text-decoration: none;
}

.servico h1 {
	font-size:xx-large;
	margin-bottom: 0.5cm;
	transition: 1s;
	
	
}

.servico h1:hover {
	font-size:xx-large;
	margin-bottom: 0.5cm;
	color: #f2c230;
	transition: 1s;
	
	
}


hr {
	
	background-color: red;
	
}