@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hero section */
#hero{
    background-image: url(./hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    
}
/* Hero section */
